:root {
    --primary-color: #6b63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
}

body {

    margin: 60px auto;
    text-align: center;

}

span {
    display: flex;
    justify-content: center;

    padding: 30px;

}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;


}

h3 {
    font-size: 24px;
    opacity: 0.7;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    margin: 10px;
}

button {
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 40px 20px;
}

button:hover {
    cursor: pointer;
}

p {
    background-color: var(--secondary-color);

    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;

}

img {
    max-width: 100%;
    height: auto;
}

.main-button {
    background-color: var(--primary-color);
    color: white;


    box-shadow: var(--box-shadow);
}

.second-button {
    background-color: white;
    color: var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;

}

.email-link {
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.width-p {
    width: 25%;
}

.img-shadow {
    box-shadow: var(--box-shadow);
}